extends ../layout

block content
    .container
        .row
            form.form-horizontal(method="post", action="/admin/login")
                .form-group
                    label.col-sm-2.control-label(for="username") 用户名
                    .col-sm-10
                        input#inputTtile.form-control(type="text", name="admin[username]")
                .form-group
                    label.col-sm-2.control-label(for="password") 密码
                    .col-sm-10
                        input#inputDoctor.form-control(type="password", name="admin[password]")
                .form-group
                    .col-sm-offset-2.col-sm-10
                    button.btn.btn-primary(type="submit") 登录